<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Numéricos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <header id="header">
        <h1>Métodos Numéricos</h1>
    </header>

    <main>
        <!-- Resolução de Equações Lineares -->
        <section id="equacoes-lineares">
            <h2  id="teorias">Resolução de Equações Lineares</h2>
            <ul>
                <li onclick="redirecionar('Teorema de Bolzano')">Teorema de Bolzano</li>
                <li onclick="redirecionar('Método da Bissecção')">Método da Bissecção</li>
                <li onclick="redirecionar('Método de Newton-Raphson')">Método de Newton-Raphson</li>
                <li onclick="redirecionar('Método da Secante')">Método da Secante</li>
            </ul>
        </section>

        <!-- Resolução de Sistemas Lineares -->
        <section id="sistemas-lineares">
            <h2  id="teorias">Resolução de Sistemas Lineares</h2>
            <ul>
                <li onclick="redirecionar('Eliminação de Gauss')">Eliminação de Gauss</li>
                <li onclick="redirecionar('Metodos iterativos')">Métodos Iterativos</li>
                <li onclick="redirecionar('Método de Gauss-Jacobi')">Método de Gauss-Jacobi</li>
                <li onclick="redirecionar('Método de Gauss-Seidel')">Método de Gauss-Seidel</li>
            </ul>
        </section>

        <!-- Interpolação -->
        <section id="interpolacao">
            <h2  id="teorias">Interpolação</h2>
            <ul>
                <li onclick="redirecionar('Interpolação Lagrange')">Método de Lagrange</li>
                <li onclick="redirecionar('Interpolação Newton-Gregory')">Método de Newton-Gregory</li>
                <li onclick="redirecionar('Interpolação Inversa')">Interpolação Inversa</li>
            </ul>
        </section>

        <!-- Extrapolação -->
        <section id="extrapolacao">
            <h2  id="teorias">Extrapolação </h2>
            <ul>
                <li onclick="redirecionar('Método dos mínimos quadrados')">Método dos mínimos quadrados</li>
            </ul>
        </section>

        <!-- Integração -->
        <section id="integração">
            <h2  id="teorias">Integração </h2>
            <ul>
                <li onclick="redirecionar('Método do Trapezio Composto')">Método do trapezio composto</li>
            </ul>
        </section>

        <footer style="border-radius: 10px;" id="footer">
            <p>&copy; Gabriel Garcia Pereira </p>
        </footer>
        
        <script>
            function redirecionar(args) {
                window.location.href = "{{ url_for('funcao') }}?texto=" + args;
            }
        </script>
    </main>        
</body>
